<div class="container d-flex justify-content-center my-3">
  <div class="col-sm-8 col-md-6 col-lg-4">
    <div id="form">
      <h2>Update your details</h2>
      <form action="/users/updateUser" method="POST"  enctype="multipart/form-data">

        <div class="form-group">
          <label for="input-name">Your Name</label>
          <input type="text" id="input-name" class="form-control" name="name" value="{{user.name}}" />
        </div>

        <div class="form-group">
          <label for="input-city">City</label>
          <input type="text" id="input-city" class="form-control" name="city" value="{{user.city}}" />
        </div>

        <div class="form-group main-picture-div">
          <label for="input-picture">Profile Picture</label>
          <img class="main-pic" src="{{ user.profileImagePath }}" alt="">
          <button id="delete-main-picture-btn" class="btn btn-secondary button m-1">Delete main picture</button>
          <input value="{{user.profileImage}}" type="hidden" name="profileImage">
          <input value="{{user.profileImagePath}}" type="hidden" name="profileImagePath">
        </div>

        <div class="row m-2">
            <input value="{{user._id}}" type="hidden" name="_id">
        </div> 

        <button type="submit" class="btn btn-secondary">Update User</button>

        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>

<script src="/javascripts/profile-picture.js"></script>
